/* Variables */



:root {
  --primary-gradient: linear-gradient(to right, #4E4376, #2B5876);
  --mango-gradiant: linear-gradient(to right, #FFA751, #FFE259);
  --text-color: #F7F9F9;
  --Montserrat: "Montserrat", cursive;
  --Lobster: "Lobster", cursive;
  --primary-shadow: 3px 4px 7px rgba(27, 27, 27, .534);
  --border-color: rgba(0, 0, 0, .329);
}